x-dashboard: &dashboard-base
  build:
    context: .
  pull_policy: build
  restart: unless-stopped
  security_opt:
    - label:disable
  networks:
    - nginx-proxy-manager_default

services:
  gabagool-dashboard:
    <<: *dashboard-base
    container_name: gabagool-dashboard
    image: gabagool-dashboard:latest
    environment:
      NUXT_MONGO_URI: ${MONGO_URI}
      NUXT_MONGO_COLLECTION: gabagool_events

  gabagool22-dashboard:
    <<: *dashboard-base
    container_name: gabagool22-dashboard
    image: gabagool22-dashboard:latest
    environment:
      NUXT_MONGO_URI: ${MONGO_URI}
      NUXT_MONGO_COLLECTION: gabagool22_events

  hedge-dashboard:
    <<: *dashboard-base
    container_name: hedge-dashboard
    image: hedge-dashboard:latest
    environment:
      NUXT_MONGO_URI: ${MONGO_URI}
      NUXT_MONGO_COLLECTION: hedge_events

networks:
  nginx-proxy-manager_default:
    external: true
